body{
    margin: 0;
    padding: 0;
}
.title{
    color: green;
    text-align: center;
}
.parent{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.photo img{
    width: 250px;
    
}
.details-btn{
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
    background-color: red;
}
.details-btn:hover{
    background-color: green;
    color: red;
    cursor: pointer;
}
.second-section{
    text-align: center;
}
.dhaka{
    width: 250px;
    border: 1px solid grey;
    box-shadow: grey;
}
.div-img img{
    width: 100%;
}

.all-divisions{
    display: flex;
    justify-content: space-evenly;

}
.btn{
    background-color: skyblue;
    border: none;
}